:root {
  --font-size: 112.5%;
  --line-height: 1.45;
  --heading-margin: 3rem 0 1.38rem;
  --h1-size: 1.802rem;
  --h2-size: 1.602rem;
  --h3-size: 1.424rem;
  --small-size:  0.889rem;

  --black: #191c24ff;
  --grey-25: #3d4343ff;
  --grey-50: #827f7dff;
  --grey-75: #bec1c1ff;
  --white: #f1efeeff;
  --purple: #7467cbff;
  --green: #00b8b5ff;

  --color: rgba(25, 28, 36, 0.8);
}
