.modal {
  text-align: center;
  color: white;
}

.modal canvas {
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.modal .close-btn {
  position: absolute;
  font-size: 3rem;
  top: 0.3ch;
  padding: 0.6ch 0.6ch;
  line-height: 1;
  right: 0.3ch;
  text-shadow: 0 0 1px black;
}

.modal .desc { 
  max-width: 65ch; 
  text-align: center;
  margin: 0 auto;
}

.modal .start-btn,
.modal .refresh-btn {
  border: 2px solid var(--white);
  margin: 1rem 0;
  cursor: pointer;
}